body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
    margin-left: 5px;

  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
    
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
    margin: 0px 50px;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }

 .vr {
   border:black;
   
 }


 .col-sm-9 {
   border: solid black;
   padding: 2px;
   margin: -2px;

 }
 .col-sm-1 {
   border-radius: 10px;
   border-left-style: solid;
   border-top-style: solid;
   padding: -10px;
   width: 100%;
   margin-bottom: -5px;
   margin-top: -5px;
   margin-right: 3px;
   background-color:  rgb(0, 183, 255);

 }
.col-sm-2 { 
  border-right-style: solid;
  border-top-style: dotted;
  

}

.task {
  width: 100%;
}


.btn {
  color: white;
  margin-right: 10px;
}

.i {
  background-color: white;
  margin-right: 5px;

}
@media screen and (max-width: 980px) {

.container {
  width: 100%;
}
}

@media screen and (max-width: 768px) {
  span {
    margin-left: -10px;
      
    }
  }
   
  
  @media screen and (max-width: 575px) {
    .container {
      width: 30%;
    }

    span {
      width: 50%;
      
    }
    .col-sm-1 {
      width: 32%;
    }
    .col-sm-9 {
      width: 35%;
     }
     .col-sm-2 {
       width: 30%;
     }

     
    }